@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.left {
  transform: translateX(-10%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.right {
  opacity: 0;
  transform: translateX(10%);
  transition: all 0.8s ease-in-out;
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.slider {
  width: 100%;
  height: 500px;
  position: relative;
}

.slide.active {
  opacity: 1;
}

.slider-bullets {
  text-align: center;
  margin-top: 20px;
}

.slider-bullets span {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
